.combatTableDiv {
  display: inline-block;
  text-align: center;
}

.ui.table td.positive,
.ui.table tr.positive {
  font-weight: 700;
  background: #f5fff6 !important;
}

.ui.table td,
.ui.table tr {
  font-weight: 600;
}

.ui.table thead th {
  font-weight: 800;
}
